<div class="container-fluid">

  <div class="row justify-content-center d-flex bg-ricerca">
    <div class="row text-center mb-3 mt-2 p-3">
      <div class="col">
      <div class="form-group mb-3">
            <label class="h4 mb-2" for="residenza">Dove vuoi giocare?</label>
        <select class="border-0" name="residenza" id="residenza" class="form-select" placeholder="Residenza" required [(ngModel)]="residenzaSelezionata" (ngModelChange)="getPartite()">
          <option class="text-center" *ngFor="let p of arrayProvince" [ngValue]="p">{{p.provincia}}</option>
        </select>
          </div>
        </div>
          <div class="col">
            <div class="form-group mb-3">
              <p class="mb-0 h4 mb-2">Quando vuoi giocare?</p>
              <input class="rounded" type="date" id="dateStandard" name="dateStandard" [(ngModel)]="todayDate" (ngModelChange)="getPartite()">
          </div>
          </div>
        </div>
        <button class="btn btn-blu" style="width: 20%;" [routerLink]="['/crea-partita']" *ngIf="!vuoto">Crea Partita</button>
    <svg class="p-0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1351" height="200" preserveAspectRatio="none" viewBox="0 0 1351 200">
      <g mask="url(&quot;#SvgjsMask1225&quot;)" fill="none">
          <path d="M 0,38 C 135.2,55.6 405.8,117.6 676,126 C 946.2,134.4 1216,89.2 1351,80L1351 200L0 200z" fill="rgba(255, 255, 255, 1)"></path>
      </g>
      <defs>
          <mask id="SvgjsMask1225">
              <rect width="1351" height="200" fill="#ffffff"></rect>
          </mask>
      </defs>
  </svg>
</div>



<div class="container">

  <div class="text-center" *ngIf="vuoto">
    <a class="btn btn-blu mb-5" [routerLink]="['/crea-partita']">Crea Partita</a>
  <h2 class="mb-0">Nessuna partita disponibile. Creane una!</h2>
  <img src="assets/img/Soccer_Isometric.svg" alt="">
</div>

  <div *ngIf="!vuoto" class="d-flex justify-content-center flex-wrap">
  <div  *ngFor="let partite of arrayPartite; let i = index;" class="card shadow border-0 text-center mb-5" style="width: 60%;">
    <div class="row g-0">
      <div class="col-md-4 p-3" style="width: 30%;">
        <img src="{{partite.campo === 'CALCIOA5' ? listaCampi![0].immagine : partite.campo === 'CALCIOA6' ? listaCampi![1].immagine : partite.campo === 'CALCIOA7' ? listaCampi![2].immagine : null}}" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title fw-bold">{{partite.nomePartita}}</h4>
          <div class="d-flex justify-content-between">
            <p class="text-secondary fw-semibold"><i class="bi bi-geo-alt-fill"></i> {{partite.centroSportivo.nomeCentroSportivo}} | {{partite.citta}}</p>
            <h5 class="card-text fw-semibold text-blu"><i class="bi bi-person-check-fill"></i> {{partite.organizzatore}}</h5>
          </div>
          <span class="etichetta p-1 mb-2"><p class="card-text align-bottom">{{partite.campo}}</p></span>
          <span [ngClass]="partite.tipoPartita === 'PUBBLICA' ? 'text-verde' : 'text-danger'" class="p-1"><p class="card-text align-bottom">{{partite.tipoPartita}}</p></span>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between mb-2">
        <h5 class="fw-bolder text-verde"><i class="bi bi-plus-circle"></i> {{numeroPartecipanti[i]}} di {{partite.campo === 'CALCIOA5' ? '10': partite.campo === 'CALCIOA6' ? '12' : partite.campo === 'CALCIOA7' ? '14' : 0}}</h5>
        <p class="card-subtitle  text-secondary"><i class="bi bi-calendar-week"></i> {{partite.giornoPartita}}</p>
          <p class="card-subtitle  text-secondary"><i class="bi bi-clock"></i> {{partite.oraPartita}}</p>
        </div>
        <div>
        <!-- <a *ngIf="partite.tipoPartita === 'PRIVATA'" class="btn btn-verde w-75">Richiedi accesso</a> -->
        <a *ngIf="!checkOrganizzatore(partite) && partite.tipoPartita === 'PUBBLICA'" class="btn btn-blu me-2" [routerLink]="['/partita', partite.id]">Visualizza</a>
        <a *ngIf="!partecipanteEsistente && !checkOrganizzatore(partite) && partite.tipoPartita === 'PUBBLICA'" class="btn btn-verde w-75" (click)="partecipaPartita(partite.id)">partecipa</a>
        <a *ngIf="partecipanteEsistente && !checkOrganizzatore(partite)" class="btn btn-arancione w-75" (click)="annullaPrenotazione(partite.id)">Annulla prenotazione</a>
        <a *ngIf="checkOrganizzatore(partite)" class="btn btn-arancione me-2" (click)="eliminaPartita(partite.id)"><i class="bi bi-trash"></i></a>
        <a *ngIf="checkOrganizzatore(partite)" class="btn btn-blu w-75" [routerLink]="['/partita', partite.id]">Gestisci Partita</a>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
