.search-container {
  position: relative;
}

.nav-bg {
  background-color: #7FB069;
  color: #191919;
}

#search-results {
  font-weight: 500;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: none;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  li {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.navbar-brand {
  font-weight: 1000;
  color: #3B3561;
}

.nav-link {
  font-weight: 600;
  color: white;
}

.router-link-active {
 color: #3B3561;
}

.btn-danger {
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}

