video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

#sopraDiv {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 62.2vh;
  opacity: 40%;
}

#sopraBanner {
  position: relative;
  z-index: 0;
  height: 62.2vh;
}

h1 {
  font-size: 70px;
}

.btn-blu {
  border: 2px solid #3B3561;
  font-weight: bold;
  &:hover {
    border: 2px solid #3B3561;
    color: white
  }
}

.green {
  background-color: #7FB069;
}

textarea {
  resize: none;
}

footer {
  background-color: #7FB069;
}

hr {
  border: 2px solid #3B3561;
  opacity: 30%;
}

