<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card shadow text-center p-5 m-5">
    <div class="card-body text-danger">
      <h1 class="card-title fw-bold">Effettua il Login</h1>
      <form #form="ngForm" (ngSubmit)="onsubmit(form)">
        <div class="form-floating form-group mb-3">
          <input name="username" type="username" class="form-control" id="username" placeholder="username" required ngModel>
          <label for="username"><i class="bi bi-envelope"></i> Username</label>
        </div>
        <div class="form-floating form-group mb-3">
          <input name="password" type="password" class="form-control" id="password" placeholder="password" required ngModel>
          <label for="password"><i class="bi bi-key"></i> Password</label>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-danger rounded-5 px-5">Login</button>
      </form>
    </div>
    <hr class="border border-secondary">
    <p class="text-secondary">Non sei registrato? <a class="text-danger text-decoration-none" [routerLink]="['/register']">Registrati</a></p>
  </div>
</div>
